body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #2da6dd, #3933a4);
    color: #2D3436;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI',Verdana,Tahoma, sans-serif;
}

/* admin css */

.dashboard-container {
    display: flex;
    min-height: 100vh;
    transition: all 0.3s ease;
}

.sidebar {
    width: 240px;
    /* background: linear-gradient(to bottom right, #007bff, #6610f2); */
    background-color: rgb(161, 212, 209);
    color: white;
    padding: 20px 10px;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar-header {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.nav-links li  {
    list-style: none;
    padding: 0;
}

 Link{
    color: black;
    text-decoration: none;
}

.nav-links li{
    padding: 10px 15px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    color: black;
    text-decoration: none;
}

.nav-links li:hover {
    background: rgba(255, 255, 255, 0.25);
}

.main {
    flex: 1;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.topbar {
    background: linear-gradient(to right, #6f42c1, #e83e8c);
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-btn {
    background: white;
    color: #6f42c1;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.toggle-btn:hover {
    background: #e9ecef;
}

.content {
    padding: 20px;
}