.userImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: azure;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

