

 .sidebar {
     position: fixed;
     top:0;
     bottom: 0;
     left: 0;
     width: 250px;
     background-color: #1f70c1;
     color: #fff;
     overflow-y: auto;
     padding-top: 20px;
     z-index: 1000;
 }

 .sidebar a{
     color: black;
     text-decoration: none;
     padding: 12px 20px;
     display: block;
     font-size: 16px;
     font-weight: 600;
 }

 .sidebar a:hover {
     background-color: #0a56a2;
     color: #fff;
     font-weight: 500;
 }

 .sidebar h4 {
    color: black;
    background-color: #1f70c1;
    padding: 10px 0 10px 0;
     text-align: center;
     margin-bottom: 25px;
 }

 .content {
     margin-left:250px;
     position: relative;
     padding: 20px;
     background-color: #ffffff;
     min-height: 100vh;

 }

 .content h4,.color {
     background-color: #1f70c1;
     margin-bottom: 20px;
     text-align: center;
    padding:10px 0 10px 0;
 }

 @media (max-width: 768px) {
     .sidebar {
         width: 100%;
         height: auto;
         position: relative;
     }

     .content {
         margin-left: 0;

     }
 }